@media screen and (max-width: 1200px) {
    .center {
        padding-left: calc(50vw - 360px);
        padding-right: calc(50vw - 360px);
    }
    .offer__title{
        font-size: 40px;
        max-width: 400px;
    }
    .services{
        grid-template-columns: repeat(3, 230px);
    }
    .services__desc{
        font-size: 12px;
    }
    .services__icon{
        margin-bottom: 0;
    }
    .services__title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .about_photo{
        max-width: 380px;
        padding-top: 20px;
    }
    .about__title{
        padding-bottom: 10px;
        font-size: 32px;
    }
    .about__text{
        max-width: 350px;
        font-size: 15px;
        padding-right: 20px;
    }
    .subtitle{
        font-size: 40px;
        margin: 0 0 20px;
    }
    .services__number{
        font-size: 30px;
        margin: 0;
    }
    .services__title{
        font-size: 17px;
    }
    .services{
        padding-top: 30px;
    }
    .subtitle-two{
        font-size: 40px;
        margin: 0 0 20px;
        padding-bottom: 20px;
    }
    .contacts-list{
        flex-wrap: wrap;
        gap: 10px 20px;
    }






}
@media screen and (max-width: 750px) {
    body{
        font-size: 12px;
    }
    .center {
        padding-left: calc(50vw - 260px);
        padding-right: calc(50vw - 260px);
    }
.btn{
    max-width: 180px;
    line-height: 24px;
}
    .header {
        padding-bottom: 15px;
        padding-top: 15px;
        align-items: flex-start;
    }

    .nav__link {
        font-size: 12px;
    }

    .logo {
        max-width: 120px;
    }

    .offer {
        padding-top: 70px;
        row-gap: 15px;
        padding-bottom: 80px;
    }

    .offer__title {
        font-size: 30px;
        max-width: 300px;
    }
    .offer__desc{
        font-size: 16px;
        max-width: 280px;
    }

.services{
    grid-template-columns: minmax(auto, 300px);
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 15px;
}
.about_item{
padding-top: 20px;
    padding-bottom: 20px;
}
.about__title{
    font-size: 25px;
}
.about__text{
    font-size: 12px;
    max-width: 280px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.about_photo{
    max-width: 250px;
}
.contact-form{
    padding-bottom: 20px;
    padding-top: 20px;
}
.subtitle{
    padding-top: 10px;
    font-size: 25px;
}
.contact-form{
    grid-template-rows: auto repeat(3, 35px) 20px 35px;
    gap:20px;
    padding-left: calc(50vw - 250px);
    padding-right: calc(50vw - 250px);
    padding-top: 0;
    padding-bottom: 20px;
}
.contact-form .subtitle{
    margin: 0;
}
.subtitle-two{
    padding-top: 10px;
    font-size: 25px;
  margin: 0;

}
.contact-form__checkbox-two{
    left: 150px;
}
.contact{
    flex-wrap: wrap;
    justify-content: center;
 row-gap: 20px;
    grid-gap: 20px;


}
    .contact-form__input-two {
        max-width: 400px;
        height: 30px;
    }
    .contact-form__checkbox-two{
        padding-bottom: 0px;
    }
.footer{
    padding-bottom: 10px;
    padding-top: 10px;
}
.contacts-list{
    font-size: 10px;
}

}
@media screen and (max-width: 510px){
    .center {
        padding-left: calc(50vw - 180px);
        padding-right: calc(50vw - 180px);
    }
 
    .offer{
        background-position: 18% 8%;
    }
    .offer__title{
        font-size: 25px;
        max-width: 250px;
    }
    .offer__desc{
        font-size: 12px;
    }


    .about_item{
        padding-top: 20px;
        padding-bottom: 20px;

    }
.about__title{
    padding-bottom: 190px;
}
.about_photo{
    left:0px;
    top:50px
}
.about__text{
    max-width: 400px;
}

}